.headerdividinglineIcon {
  position: absolute;
  top: 93px;
  left: 32px;
  width: 1370px;
  height: 4px;
  object-fit: contain;
}
.dashboard1,
.leaves1 {
  position: absolute;
  display: inline-block;
}
.dashboard1 {
  margin: 0;
  top: -4px;
  left: 14px;
  font-size: inherit;
  line-height: 36px;
  font-weight: 800;
  font-family: inherit;
  width: 165px;
  height: 33px;
}
.leaves1 {
  text-decoration: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--gray-300);
  text-align: left;
  cursor: pointer;
}
.employee,
.leads,
.leaves,
.performance {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0.4px;
  left: 0;
  width: 69.92px;
  height: 18px;
}
.employee,
.leads,
.performance {
  top: 0;
  left: 90px;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--gray-300);
  text-align: left;
  display: inline-block;
  width: 37.65px;
}
.employee,
.performance {
  left: 168px;
  width: 88px;
}
.performance {
  left: 259px;
}
.firstbase,
.menu {
  position: absolute;
  top: 4px;
  left: 238px;
  width: 347px;
  height: 18.4px;
}
.firstbase {
  height: 100%;
  width: 23.17%;
  top: 0;
  right: 76.83%;
  bottom: 0;
  left: 0;
  border-radius: 40px;
  border: 3px solid #e6ebf2;
  box-sizing: border-box;
}
.profileIcon {
  position: absolute;
  height: 75%;
  width: 17.38%;
  top: 12%;
  right: 79.73%;
  bottom: 13%;
  left: 2.9%;
  border-radius: 30px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.online {
  position: absolute;
  height: 12.5%;
  width: 2.9%;
  top: 17.5%;
  right: 77.7%;
  bottom: 70%;
  left: 19.41%;
  border-radius: 7.5px;
  background-color: #17e933;
}
.employeeDesignation,
.employeeName {
  position: absolute;
  left: 0;
  display: inline-block;
}
.employeeName {
  width: 100%;
  top: calc(50% - 16.2px);
  line-height: 20px;
  font-weight: 800;
  height: 18px;
}
.employeeDesignation {
  width: 82.41%;
  top: calc(50% + 1.8px);
  font-size: var(--bold-10-size);
  line-height: 16px;
  font-family: var(--bold-10);
  color: #a3b6cc;
  height: 14.4px;
}
.employeNameCard {
  position: absolute;
  width: 65.58%;
  top: calc(50% - 16.2px);
  right: 0;
  left: 34.42%;
  height: 32.4px;
}
.avatar {
  position: absolute;
  height: 90%;
  width: 14.36%;
  top: -20%;
  right: 8.58%;
  bottom: 30%;
  left: 77.06%;
  font-size: var(--font-size-xs);
  color: #294566;
}
.settings {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 1284px;
  width: 23px;
  height: 21px;
  overflow: hidden;
  opacity: 0.5;
}
.vectorIcon {
  width: 19.17px;
  position: relative;
  height: 17.5px;
}
.onoffSolid,
.vectorWrapper {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  position: absolute;
}
.vectorWrapper {
  padding: var(--padding-3xs);
  top: -8.25px;
  left: -8.08px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.onoffSolid {
  padding: 0;
  height: 42%;
  width: 1.69%;
  top: 0;
  right: 1.91%;
  bottom: 58%;
  left: 96.4%;
  overflow: hidden;
}
.admin,
.header,
.plus {
  position: absolute;
  top: 43px;
  left: 36px;
  width: 1363px;
  height: 50px;
}
.header,
.plus {
  top: 0;
  left: 0;
  width: 1440px;
  height: 97px;
  overflow: hidden;
}
.plus {
  top: 121px;
  left: 1365px;
  width: 24px;
  height: 24px;
}
.employeeInformation {
  width: 312px;
  position: absolute;
  margin: 0 !important;
  top: 30px;
  left: 10px;
  line-height: 64px;
  font-weight: 500;
  display: inline-block;
  z-index: 0;
}
.employeeInfo {
  position: absolute;
  top: 111px;
  left: 49px;
  width: 1324px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: 28px;
}
.createProfile1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.createProfile {
  cursor: pointer;
  border: 0;
  padding: 12px 25px;
  background-color: #7c93ff;
  position: absolute;
  top: 583px;
  left: 544px;
  border-radius: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.addressMandatory,
.cannotBeA,
.enterAValid {
  cursor: pointer;
  position: absolute;
  top: 35.16%;
  left: 269px;
}
.cannotBeA,
.enterAValid {
  top: 49.45%;
}
.enterAValid {
  top: 510px;
}
.createProfileParent {
  position: absolute;
  top: 241px;
  left: 95px;
  width: 1237px;
  height: 637px;
  overflow: hidden;
  text-align: left;
  font-size: var(--bold-10-size);
  color: var(--color-lightcoral);
  font-family: var(--font-poppins);
}
.adminDashboard {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 900px;
  overflow: hidden;
}
.dashboard {
  width: 1440px;
  position: relative;
  height: 900px;
  z-index: 0;
  font-size: 24px;
  color: var(--gray-600);
}
.employeeNameInput {
  background-color: #f1f1f1;
}
.empl,
.phoneNumber {
  display: flex;
  align-items: center;
}
.empl {
  margin: 0 !important;
  position: absolute;
  top: 259px;
  left: 152px;
  flex-direction: row;
  justify-content: center;
  gap: 0 44px;
  z-index: 1;
}
.phoneNumber {
  width: 149px;
  position: relative;
  line-height: 6px;
  font-weight: 600;
  height: 37px;
  flex-shrink: 0;
}
.empl1,
.empl2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 44px;
}
.empl1 {
  margin: 0 !important;
  position: absolute;
  top: 259px;
  left: 810px;
  z-index: 2;
}
.empl2 {
  top: 510px;
  left: 152px;
  z-index: 3;
}
.empl2,
.empl3,
.iconCalendar {
  position: absolute;
  margin: 0 !important;
}
.empl3 {
  top: 537px;
  left: 810px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 44px;
  z-index: 4;
}
.iconCalendar {
  width: 0.93%;
  height: 1.71%;
  top: 57.98%;
  right: 58.58%;
  bottom: 40.31%;
  left: 40.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 5;
}
.emergencyContact {
  width: 149px;
  position: relative;
  line-height: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 47px;
  flex-shrink: 0;
}
.empl4 {
  margin: 0 !important;
  position: absolute;
  top: 617px;
  left: 152px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 44px;
  z-index: 6;
}
.emailAddress {
  width: 149px;
  position: relative;
  line-height: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 37px;
  flex-shrink: 0;
  z-index: 0;
}
.frameInput {
  background-color: transparent;
  z-index: 1;
}
.empl5,
.empl6,
.invalidEmailId {
  margin: 0 !important;
  position: absolute;
}
.invalidEmailId {
  cursor: pointer;
  width: 75px;
  top: 42px;
  left: 208px;
  font-size: var(--bold-10-size);
  color: var(--color-lightcoral);
  display: inline-block;
  z-index: 2;
}
.empl5,
.empl6 {
  top: 621px;
  left: 810px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 44px;
  z-index: 7;
}
.empl6 {
  top: 704px;
  left: 152px;
  z-index: 8;
}
.reference {
  width: 149px;
  top: 708px;
  left: 810px;
  line-height: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 37px;
  flex-shrink: 0;
  z-index: 9;
}
.empl7,
.empl8,
.reference,
.wrapper {
  margin: 0 !important;
  position: absolute;
}
.wrapper {
  top: 708px;
  left: 1003px;
  z-index: 10;
}
.empl7,
.empl8 {
  flex-direction: row;
  gap: 0 44px;
}
.empl7 {
  top: 366px;
  left: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.empl8 {
  top: 453px;
  left: 810px;
  justify-content: flex-start;
  z-index: 12;
}
.empl8,
.empl9,
.employementType {
  display: flex;
  align-items: center;
}
.employementType {
  width: 149px;
  position: relative;
  line-height: 17px;
  font-weight: 600;
  height: 37px;
  flex-shrink: 0;
}
.empl9 {
  margin: 0 !important;
  position: absolute;
  top: 356px;
  left: 810px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 44px;
  z-index: 13;
}
.ageCannotBe,
.fieldCannotBe,
.invalidPhoneNumber {
  cursor: pointer;
  width: 118px;
  position: absolute;
  margin: 0 !important;
  top: 55.06%;
  left: 1020px;
  font-size: var(--bold-10-size);
  color: var(--color-lightcoral);
  display: inline-block;
  z-index: 14;
}
.fieldCannotBe,
.invalidPhoneNumber {
  width: 113px;
  top: 34%;
  left: 354px;
  z-index: 15;
}
.invalidPhoneNumber {
  width: 110px;
  left: 1019px;
  z-index: 16;
}
.enrollPageValidation {
  width: 100%;
  position: relative;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
