.editLead,
.hiLalitSharma {
  position: relative;
  line-height: 64px;
  font-family: Poppins;
  text-align: left;
}
.hiLalitSharma {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 311px;
  font-size: 36px;
  font-weight: 700;
  color: #98a2b2;
  display: flex;
  align-items: center;
  height: 75px;
  flex-shrink: 0;
}
.editLead {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.editLeadWrapper {
  position: absolute;
  top: -5px;
  left: 268.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
}
.createLead {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 144px;
  position: relative;
  height: 63px;
}
.plusIcon {
  position: absolute;
  height: 45.87%;
  width: 9.96%;
  top: 20.63%;
  right: 10.88%;
  bottom: 33.49%;
  left: 79.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.createLeadChild {
  position: absolute;
  top: 0;
  left: 24.5px;
  border-radius: 51px;
  background-color: #3354f4;
  width: 250px;
  height: 54px;
  opacity: 0.23;
}
.createLeadWrapper {
  position: absolute;
  top: -5px;
  left: 41.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
}
.createLead1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 283px;
  position: relative;
  height: 63px;
}
.hiLalitSharmaParent {
  position: absolute;
  top: 167px;
  left: 121px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 256px;
}
.leadCapturePageChild {
  position: absolute;
  top: 361px;
  left: 95px;
  width: 1243px;
  height: 1px;
  object-fit: contain;
}
.id1 {
  width: 27px;
  position: relative;
  font-size: 20px;
  line-height: 64px;
  font-weight: 500;
  align-items: center;
  height: 31px;
  flex-shrink: 0;
}
.div,
.id,
.id1 {
  display: flex;
}
.div {
  width: 27px;
  position: relative;
  line-height: 64px;
  font-weight: 300;
  align-items: center;
  height: 31px;
  flex-shrink: 0;
}
.id {
  position: absolute;
  top: 329px;
  left: 101.5px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.customerName {
  font-size: 20px;
  font-weight: 500;
}
.customerName,
.savannahNguyen {
  width: 181px;
  position: relative;
  line-height: 64px;
  display: flex;
  align-items: center;
  height: 31px;
  flex-shrink: 0;
}
.cname {
  position: absolute;
  top: 329px;
  left: 257.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.zip {
  width: 90px;
  position: relative;
  line-height: 64px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 31px;
  flex-shrink: 0;
}
.div8,
.div9 {
  position: relative;
  height: 59px;
}
.div8 {
  width: 256px;
  line-height: 64px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 0;
}
.div9 {
  z-index: 1;
  margin-top: -8px;
}
.div10,
.div11,
.div9 {
  width: 256px;
  line-height: 64px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.div10 {
  position: relative;
  height: 59px;
  z-index: 2;
  margin-top: -8px;
}
.div11 {
  z-index: 3;
}
.div11,
.div12,
.div13 {
  position: relative;
  height: 59px;
  margin-top: -8px;
}
.div12 {
  width: 256px;
  line-height: 64px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 4;
}
.div13 {
  z-index: 5;
}
.div13,
.div14,
.div15 {
  width: 256px;
  line-height: 64px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.div14 {
  position: relative;
  height: 59px;
  z-index: 6;
  margin-top: -8px;
}
.div15 {
  position: absolute;
  margin: 0 !important;
  top: -29px;
  left: 0;
  height: 29px;
  z-index: 7;
}
.parent,
.zipParent {
  width: 103px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent {
  position: relative;
  font-size: 16px;
}
.zipParent {
  margin: 0 !important;
  position: absolute;
  top: 80px;
  left: 34px;
  height: 456px;
  gap: 64px;
  z-index: 0;
}
.frameWrapper {
  width: 256px;
  height: 1px;
  position: relative;
}
.address,
.addressInner,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.addressInner {
  height: 1px;
}
.address {
  position: absolute;
  top: 245px;
  left: 529px;
  width: 63px;
  font-size: 20px;
}
.pennsylvania {
  width: 183px;
  position: relative;
  line-height: 64px;
  display: flex;
  align-items: center;
  height: 31px;
  flex-shrink: 0;
}
.state {
  position: absolute;
  top: 329px;
  left: 786px;
  width: 219px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.phone {
  width: 90px;
  position: relative;
  font-size: 20px;
  line-height: 64px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 31px;
  flex-shrink: 0;
}
.city,
.div16 {
  width: 134px;
  display: flex;
}
.div16 {
  position: relative;
  line-height: 64px;
  align-items: center;
  height: 31px;
  flex-shrink: 0;
}
.city {
  position: absolute;
  top: 329px;
  left: 1005px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.leadStatus {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.approved,
.leadStatus,
.pending,
.rejected {
  width: 132px;
  position: relative;
  line-height: 64px;
  display: flex;
  align-items: center;
  height: 31px;
  flex-shrink: 0;
}
.approved,
.pending {
  color: #069855;
}
.pending {
  color: #3354f4;
}
.lesdStatus {
  position: absolute;
  top: 329px;
  left: 1224.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  color: #a00;
}
.progressbase6 {
  position: absolute;
  top: 381px;
  left: 1419px;
  border-radius: 32px;
  background-color: #c9cde1;
  width: 7px;
  height: 170px;
}
.leadCapturePage {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Poppins;
}
